.github/
coverage/
docs/
dst/cjs/*.d.ts
dst/cjs/*.d.ts.map
dst/umd/*.d.ts
dst/umd/*.d.ts.map
src/
.eslintignore
.eslintrc.json
.prettierrc.json
jest.config.js
rollup.config.js
tsconfig.json
typedoc.json
